.container {
  padding-left: 71px;
  padding-top: 40px;
}
.title {
  font-size: 36px;
  line-height: 42.19px;
}

.info {
  font-size: 18px;
  padding-top: 14px;
  line-height: 21.09px;
  padding-bottom: 40px;
}

.button {
  width: 164px;
  height: 54px;
  background-color: #3b89ff;
  font-size: 18px;
  color: white;
  border-radius: 3px;
}

.link {
  padding-right: 14px;
}
